@mixin showVerticalRhythmOn($selector) {
    #{$selector} {
        background: {
            image: linear-gradient(to bottom, white 95%, black 5%);
            position: left top;
        }

        @include bpMaxMobile()  { background-size: 100% $base_line_height_mobile; }
        @include bpOnTablet()   { background-size: 100% $base_line_height_tablet; }
        @include bpMinDesktop() { background-size: 100% $base_line_height_desktop; }
    }
}

@include bpMaxMobile() {
    h1 { @include setRhythm(mobile, 40px, 3); }
    h2 { @include setRhythm(mobile, 36px, 2); }
    h3 { @include setRhythm(mobile, 32px, 2); }
    h4 { @include setRhythm(mobile, 28px, 2); }
    h5 { @include setRhythm(mobile, 24px, 2); }
    h6 { @include setRhythm(mobile, 20px, 2); }
    p { @include setRhythm(mobile, 16px, 1); }
}

@include bpOnTablet() {
    h1 { @include setRhythm(tablet, 70px, 3); }
    h2 { @include setRhythm(tablet, 63px, 2); }
    h3 { @include setRhythm(tablet, 56px, 2); }
    h4 { @include setRhythm(tablet, 49px, 2); }
    h5 { @include setRhythm(tablet, 42px, 2); }
    h6 { @include setRhythm(tablet, 35px, 2); }
    p { @include setRhythm(tablet, 28px, 1); }
}

@include bpMinDesktop() {
    h1 { @include setRhythm(desktop, 84px, 3); }
    h2 { @include setRhythm(desktop, 72px, 2); }
    h3 { @include setRhythm(desktop, 60px, 2); }
    h4 { @include setRhythm(desktop, 48px, 2); }
    h5 { @include setRhythm(desktop, 36px, 1); }
    h6 { @include setRhythm(desktop, 24px, 1); }

    p {
        @include setRhythm(desktop, 24px, 1);
        //@include setSpacing(desktop, margin, (1,0,0));
        //@include setSpacing(desktop, padding, (0,0,1));
        @include setPaddingAndBorder(
            desktop,
            (0, 0, 1),
            ((0, 0, 5px), solid, red)
        );
    }
}
