@mixin bpMaxViewportVerticalSmall() {
    @include bp(max-height, $bp_viewport_height_small_end) {
        @content
    }
}

@mixin bpOnViewportVerticalMedium() {
    @include bp(between-height, $bp_viewport_height_medium_start, $bp_viewport_height_medium_end) {
        @content
    }
}

@mixin bpMinViewportVerticalLarge() {
    @include bp(min-height, $bp_viewport_height_large_start) {
        @content
    }
}

@mixin setRepeatingGradient($how_many_viewport_rows) {
    background: repeating-linear-gradient(
        to bottom,
        $grid_color_line 0%, $grid_color_line $grid_thickness_line/2,
        $grid_color_background $grid_thickness_line/2, $grid_color_background 100/$how_many_viewport_rows * 1vh - $grid_thickness_line/2,
        $grid_color_line 100/$how_many_viewport_rows * 1vh - $grid_thickness_line/2, $grid_color_line 100/$how_many_viewport_rows * 1vh
    );
}

@mixin setVHRhythm($debugVRElement) {
    #{$debugVRElement} {
        @include bpMaxViewportVerticalSmall() {
            @include setRepeatingGradient($viewport_rows_mobile);
        }
        @include bpOnViewportVerticalMedium() {
            @include setRepeatingGradient($viewport_rows_tablet);
        }
        @include bpMinViewportVerticalLarge() {
            @include setRepeatingGradient($viewport_rows_desktop);
        }
    }
}

@mixin setSpacingVH($mq, $attribute, $how_many_rows) {
    $total_rows: 0;
    @if ($mq == mobile) {
        $total_rows: $viewport_rows_mobile;
    } @else if ($mq == tablet) {
        $total_rows: $viewport_rows_tablet;
    } @else if ($mq == desktop) {
        $total_rows: $viewport_rows_desktop;
    } @else {
        @error 'incorrect argument "$mq" specified #{$mq}'
    }

    @if (type_of($how_many_rows) == number) {
        #{$attribute}: #{100/$total_rows * $how_many_rows * 1vh};
    }
    @if (type_of($how_many_rows) == list) {
        $output_list: ();
        @each $array_value in $how_many_rows {
            $temp: nth($how_many_rows, index($how_many_rows, $array_value));
            $output_list: append($output_list, #{100/$total_rows * $array_value * 1vh});
        }

        #{$attribute}: #{$output_list};
    }
}

@mixin setFontSizeVH($viewport_rows, $how_many_lines, $font_size_fraction) {
    line-height: (100 / $viewport_rows) * $how_many_lines * 1vh;
    font-size: (100 / $viewport_rows) * $font_size_fraction * 1vh;
}
