$debugVRVerticalRhythm: true;
$debugVRElement: 'html';

$bp_viewport_height_small_end: 399px;

$bp_viewport_height_medium_start: $bp_viewport_height_small_end + 1;
$bp_viewport_height_medium_end: 799px;

$bp_viewport_height_large_start: $bp_viewport_height_medium_end + 1;

$viewport_rows_mobile: 10;
$viewport_rows_tablet: 20;
$viewport_rows_desktop: 25;
/* breakpoint variables - start */

$grid_thickness_line: 0.5vh;
